<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021
    * Proyecto de Ingenieria en Sistemas I-III
    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="en" class="h-100">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="mobile-web-app-capable" content="yes">
     <title>Dashboard - Informacion <%= cedula %></title>
     <link rel="stylesheet" href="/css/bootstrap.css">
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/datatables.min.css">
     <link rel="stylesheet" href="/css/dashboard.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
     <link rel="stylesheet" href="/css/animate.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
     <script src="/js/jq-bs-bundle.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
     <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
 </head>
 
 <body class="page bg-light d-flex flex-column h-100">
    <div class="modal fade" id="modalTakePic" tabindex="-1" aria-labelledby="modalTakePic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold"><i class="fas fa-camera"></i>&nbsp; Tomar Foto</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="errorTxt"></p>
                    <div class="d-block">
                        <video id="theVideo" autoplay></video>
                        <canvas id="theCanvas"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mr-3" onclick="openModalToTakePhoto()"><i class="fas fa-camera"></i> Abrir Camara</button>
                    <button class="btn btn-primary mr-3" id="btnCapture"><i class="fas fa-camera"></i> Capturar</button>
                    <button class="btn btn-danger" id="btnDownloadImage"><i class="fas fa-download"></i> Descargar Imagen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold">Foto de perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/admin/listEstudiantes/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Cambiar Imagen</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" id="cedulaHiddenCambiarFotoModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                            <div id="sendFileFoto">

                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i>&nbsp; Tomar foto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" id="wrapper">
        <%- include('menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <div class="container-fluid my-2 position-relative">
                <div style="position: fixed;z-index: 99; width: calc(100% - 260px);">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="alert alert-success" role="alert" id="feedback_alerta_success" style="display: none;">
                            <h4 class="alert-heading">
                                <img src="/img/emoji/check-mark.png" alt="checkmarck" width="30px">
                                Datos actualizados!</h4>
                            <p id="textoAlertSuccessUp"></p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex mx-auto justify-content-between bg-white rounded-3 p-3 mt-3 mb-2">
                    <div>
                        <a href="/admin/estudiantes" role="button" class="btn btn-light-primary  btn-sm" id="backEstudiantes"><i class="fas fa-chevron-left"></i></a>
                        <script>
                            tippy('#backEstudiantes', {
                                content: 'Lista de Estudiantes',
                            });
                        </script>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <div>
                            <button type="button" class="btn btn-light-danger m-0" onclick="pdfDownload()">
                                <i class="fas fa-file-pdf"></i> Generar Reporte</button>
                        </div>
                    </div>
                </div>
                <span class="sr-only" id="cedulaID"><%= cedula %></span>
                <div class="row mx-0 rounded-3 position-relative mb-3 animate__animated animate__fadeIn" style="height: 200px;">
                    <div class="w-100 bg-white rounded-3" style="height: 130px;">
                        <svg width="100%" height="130px" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave" 
                        style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                            <defs>
                                <linearGradient id="gradient1" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="0%" stop-color="#ffffff"  />
                                    <stop offset="100%" stop-color="#3c8eec"  />
                                </linearGradient>
                            </defs>
                            <path id="feel-the-wave2" d=""/>
                            <path id="feel-the-wave3" d=""/>
                        </svg>
                    </div>
                    <div class="position-absolute shadow rounded-3 animate__animated animate__fadeInUp" 
                    style="width: 95%;height: 95px;bottom: 20px;left: 2.5%;
                    backdrop-filter: blur(20px);background: rgba(255, 255, 255, 0.88);">
                        <div class="row mx-0 px-3">
                            <div class="col-md-6 d-flex justify-content-start">
                                <div class="py-2">
                                    <img src="/public/uploads/default-avatar.png" class="rounded-circle-2" role="button" width="70px" id="fotoPerfil" onclick="openImageModal()">
                                </div>
                                <div class="pl-3 py-3">
                                    <h5 class="font-weight-bold mb-1" id="nombreEstudiante"></h5>
                                    <h6 class="text-muted" id="tipodeUsuario"></h6>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-start pt-2">
                                <div class="p-2 rounded-3 bg-white shadow-lg mr-4" style="height: 80px; width: 140px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0 font-weight-bold">Moroso</h6>
                                        <span id="morosoEstudianteText"></span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <label class="switch-cus" for="customSwitch_cedulaMorosidad">
                                            <input type="checkbox" id="customSwitch_cedulaMorosidad" onclick="cambiarMorosidadEst(this)">
                                            <span class="slider-cus round-cus"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="p-2 rounded-3 bg-white shadow-lg" style="height: 80px; width: 140px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="mb-0 font-weight-bold">Estado</h6>
                                        <span id="estadoEstudianteText"></span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <label class="switch-cus" for="customSwitch_cedulaEstado">
                                            <input type="checkbox" id="customSwitch_cedulaEstado" onclick="cambiarEstadoEst(this)">
                                            <span class="slider-cus round-cus"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 align-items-stretch">
                    <div class="col-md-5">
                        <div class="card h-100 card-custom animate__animated animate__zoomIn">
                            <div class="card-header">
                                <h5 class="font-weight-bold mb-0">Datos Personales</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mx-0 w-100">
                                    <div class="col-md-6">
                                        <span class="sr-only" id="idEstudiante"></span>
                                        <span class="sr-only" id="cedulaEstudiante"></span>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_nombre_usuario">Nombre de usuario</label>
                                            <input type="text" class="form-control" id="v_nombre_usuario">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_correo">Correo</label>
                                            <input type="email" class="form-control" id="v_correo">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_fec_nacimiento">Fecha de nacimiento</label>
                                            <input type="date" class="form-control" id="v_fec_nacimiento">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_sexo">Sexo</label>
                                            <select id="v_sexo" class="form-control">
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_Dirección">Dirección</label>
                                            <input type="text" class="form-control" id="v_Dirección">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_telefono">Teléfono</label>
                                            <input type="text" class="form-control" id="v_telefono">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_celular">Celular</label>
                                            <input type="text" class="form-control" id="v_celular">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_carrera">Carrera o Departamento</label>
                                            <input type="text" class="form-control" id="v_carrera">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="v_perfil">Perfil</label>
                                            <select class="form-control" id="v_perfil">
                                                <option value="Estudiante">Estudiante</option>
                                                <option value="Funcionario">Funcionario</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="w-100 mx-auto">
                                        <div class="col-md-12 d-flex justify-content-start">
                                            <button type="button" class="btn btn-primary" id="Guardar-datos-estudiante" onclick="actualizarDatosEstudiante()"><i class="fas fa-pencil-alt"></i> Guardar Datos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100 card-custom animate__animated animate__zoomIn">
                            <div class="card-header">
                                <h5 class="font-weight-bold mb-0">Talleres</h5>
                            </div>
                            <div class="card-body px-2">
                                <div class="list-group" id="talleresList">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 card-custom animate__animated animate__zoomIn">
                            <div class="card-header">
                                <h5 class="font-weight-bold mb-0">Progreso</h5>
                            </div>
                            <div class="card-body px-2" id="talleresP">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 mt-4">
                    <div class="col-md-6">
                        <div class="card h-100 card-custom animate__animated animate__zoomIn">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="font-weight-bold mb-0">Reportes Conducta</h5>
                                <span class="badge badge-primary badge-pill" id="strikesCounter" data-toggle="tooltip" data-placement="top" title="Cantidad de Strikes"></span>
                            </div>
                            <div class="card-body px-2">
                                <div class="list-group" id="conductaList">
                                    
                                </div>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                    </div>
                    <div class="col-md-6">
                        <div class="card h-100 card-custom animate__animated animate__zoomIn">
                            <div class="card-header">
                                <h5 class="font-weight-bold mb-0">Anotaciones</h5>
                            </div>
                            <div class="card-body px-2">
                                <div class="list-group" id="anotacionesList">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
            <script>
                $(document).ready(function () {
                    var wave2 = $('#feel-the-wave2').wavify({
                        height: 60,
                        bones: 4,
                        amplitude: 20,
                        color: '#4659E4',
                        speed: .25
                    });
                    var wave3 = $('#feel-the-wave3').wavify({
                        height: 70,
                        bones: 3,
                        amplitude: 40,
                        color: 'rgba(126, 142, 247,0.8)',//#8997f4
                        speed: .15
                    });
                });
            </script>
        </div>
    </div>
<style>
    .switch-cus {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 25px;
        margin-top: 10px !important;
    }
    .switch-cus input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider-cus {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider-cus:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 0px;
        bottom: -3px;
        background-color: #4659e4;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider-cus {
        background-color: #93a0ff;
    }

    input:focus + .slider-cus {
        box-shadow: 0 0 1px #93a0ff;
    }

    input:checked + .slider-cus:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider-cus.round-cus {
        border-radius: 34px;
    }

    .slider-cus.round-cus:before {
        border-radius: 50%;
    }
</style>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/estudianteInfo.js"></script>
</body>
</html>