<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
 <!DOCTYPE html>
 <html lang="es" class="h-100">
 <head>
     <title>Dashboard | Profesores</title>
     <%- include('headers')%>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <%- include('email') %> 
    <div class="modal fade" id="asociarAdminModal" tabindex="-1" aria-labelledby="asociarAdminModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold ">Asociar Administrativo</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select class="custom-select" id="listaSelectAdministradores">
                            <option value="null" selected>Seleccione un administrador...</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer border-top-0 bg-light">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="asociarAdmin()">Asociar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTakePic" tabindex="-1" aria-labelledby="modalTakePic" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info mr-3" onclick="openModalToTakePhoto()">Abrir Camara</button>
                        <button class="btn btn-info mr-3" id="btnCapture">Capturar</button>
                        <button class="btn btn-secondary" id="btnDownloadImage">Descargar Imagen</button>
                    </div>
                    <p id="errorTxt"></p>
                    <div class="mx-auto">
                        <video id="theVideo" autoplay></video>
                        <canvas id="theCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/admin/listEstudiantes/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                    <span class="fas fa-camera"></span>
                                    <span class="user-select-none">Cambiar Imagen</span>
                                </div>
                            </label>
                            <input type="text" name="cedula" id="cedulaHiddenCambiarFotoModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalcambiarclave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 bg-primary text-white">
                    <h5 class="modal-title pl-3 font-weight-bold">Solicitud de Cambio de clave a <span id="claveCedulaID"></span></h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/profesor/cambiarClave" method="post">
                        <div class="form-group mb-0">
                            <label for="cambiarclaveinput">Clave</label>
                            <input type="text" class="form-control" name="clave" id="cambiarclaveinput" value="1234">
                            <input type="text" class="form-control" name="cedula" id="cambiarclaveID" hidden>
                            <small class="text-muted">Debe cambiar la clave.</small>
                        </div>
                        <div class="modal-footer py-0 border-0">
                            <button type="submit" class="btn btn-primary">Cambiar Clave</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAdd" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header py-1 pl-3 bg-primary text-white">
                    <h5 class="modal-title ml-3 font-weight-bold" id="staticBackdropLabel"><i class="fas fa-plus"></i>&nbsp; Agregar un Profesor</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Datos del profesor</h4>
                    <div class="alert alert-sucess alert-dismissible fade show" role="alert" style="display: none;">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/279/check-mark-button_2705.png" width="20px">
                        <strong>Profesor Agregado</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cedulaAdd">Cedula</label>
                                <input type="text" class="form-control" id="cedulaAdd" minlength="9" maxlength="12">
                            </div>
                            <div class="form-group">
                                <label for="NombreAdd">Nombre</label>
                                <input type="text" class="form-control" id="NombreAdd">
                            </div>
                            <div class="form-group">
                                <label for="apellidosAdd">Apellidos</label>
                                <input type="text" class="form-control" id="apellidosAdd">
                            </div>
                            <div class="form-group">
                                <label for="correoAdd">Correo</label>
                                <input type="text" class="form-control" id="correoAdd" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sexoAdd">Sexo</label>
                                <select class="custom-select" id="sexoAdd">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="UsuarioAdd">Usuario</label>
                                <input type="text" class="form-control" id="UsuarioAdd">
                            </div>
                            <div class="form-group">
                                <label for="claveAdd">Clave de acceso</label>
                                <input type="password" class="form-control" id="claveAdd" minlength="8" maxlength="20">
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-rojo" id="progreso_clave" role="progressbar" 
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <span class="text-white" id="cantidad_caracteres"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer border-top-0 bg-light">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="agregarProfesor()">
                        <div class="spinner-border spinner-border-sm" role="status" id="agregarBotonAdmin" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div><i class="fas fa-plus"></i>&nbsp; Agregar Profesor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalVerProfesor" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header py-1 pl-3 bg-primary text-white border-0">
                    <h5 class="modal-title ml-3" id="staticBackdropLabel">Profesor</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="feedbackVer"></div>
                    <span class="sr-only" id="idProfesor"></span>
                    <span class="sr-only" id="cedulaprofesor"></span>
                    <div class="container-fluid mx-auto">
                        <div class="form-group">
                            <label for="correo_edit">Correo</label>
                            <input type="text" class="form-control" id="correo_edit" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                        <div class="form-group">
                            <label for="Usuario_edit">Usuario</label>
                            <input type="text" class="form-control" id="Usuario_edit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-2">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cambiarClaveModal()" id="cambiarClaveBTN"><i class="fas fa-key"></i> Cambiar Clave</button>
                    <button type="button" class="btn btn-danger" onclick="eliminarProfesor()" ><i class="far fa-trash-alt"></i> <span id="eliminarProfesorBtn">Eliminar</span></button>
                    <button type="button" class="btn btn-secondary" onclick="actualizarProfesor()" id="actualizarProfesorBTN"><i class="fas fa-pencil-alt"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
     
    <div class="d-flex" id="wrapper">
         <%- include('menuDashboard') %>
         <div id="page-content-wrapper">
            <%- include('headerDashboard') %>
            <div class="container-fluid my-4">
                <div class="bg-white border-0 rounded-3 p-4">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-6 ">
                            <h1 class="font-weight-bolder display-5">Lista de Instructores</h1>
                            <p class="text-muted mb-0">En esta seccion se muestra la lista de los profesores 
                                que imparten los talleres de la piscina.</p>
                            <small>Información actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                        </div>
                        <div class="col-md-6 row mx-0 d-flex justify-content-end align-items-stretch">
                            <div class="col d-flex justify-content-center align-items-center pl-0" id="profesores_stats_cont">
                                <div>
                                    <h1 class="m-0 font-weight-bolder display-3 text-primary animate__animated animate__flipInX animate_delay_t1"
                                        id="profesores_stats">0</h1>
                                    <small class="text-muted">Profesores <i style="font-size: 10px;" class="fas fa-align-center text-secondary"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    tippy('#profesores_stats_cont', {
                        content: 'Cantidad total de instructores de la piscina',
                        placement: 'bottom',
                        animation: 'shift-away-extreme',
                    });
                </script>
                <div class="bg-white p-4 rounded-3 mt-4 animate__animated animate__zoomIn">
                    <div class="row mx-0 d-flex justify-content-between align-items-start">
                        <div class="col pl-sm-0">
                            <div class="mb-1">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <div class="btn bg-light" id="button_search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control border-0 shadow-none bg-light"
                                        onkeyup="searchonfind()" placeholder="Buscar..."
                                        aria-label="Username" id="barraBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-end align-items-end pr-sm-0 mt-3 mt-sm-0">
                            <div class="w-100">
                                <button type="button" class="btn btn-secondary rounded-4 d-block w-100" id="modalButtonAgregarEstudiante"
                                onclick="openModal('#modalAdd')"><i class="fas fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row mx-0 mt-2 justify-content-between pt-1">
                        <div class="col-sm-4 d-inline d-flex justify-content-end align-items-baseline px-0">
                            <div class=" w-100" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8 d-flex justify-content-sm-end justify-content-around align-items-baseline mt-2 mt-sm-0 px-0">
                            <button type="button" class="btn btn-light text-success" onclick="excelDownload()">
                                <i class="fas fa-file-excel pr-2"></i>Excel
                            </button>
                        </div>
                    </div>
                </div>

                <div class="bg-white p-0 rounded-3 mt-4 animate__animated animate__zoomIn">
                    <div class="row w-100 mx-0" style="height: 750px; overflow-y: auto;">
                        <table class="table custom-table table-responsive-sm table-striped table-borderless text-center table-hover" 
                        id="table" data-order="[[ 0, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th class="" scope="col">#</th> <!--ID-->
                                    <th class="" scope="col">&nbsp;</th> <!--Aqui va la foto-->
                                    <th class="" scope="col">Nombre</th> 
                                    <th class="" scope="col">Cédula</th>
                                    <th class="" scope="col">Correo</th>
                                    <th class="" scope="col">Sexo</th>
                                    <th class="" scope="col">&nbsp;</th> <!--Aqui va el edit-->
                                </tr>
                            </thead>
                            <tbody id="lista_profesores">

                            </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end justify-content-between border-top py-2 w-100">
                            <div><small id="info" class="d-flex align-items-end ml-4"></small></div>
                            <div id="pagination" class="mr-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <style>
                                ul.pagination{
                                    margin-bottom: 0px !important;
                                }
                            </style>
                        </div>

                    </div>
                </div>
                <div class="bg-white rounded-3 mt-2 p-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="fa-stack ">
                                <i class="fas fa-circle fa-stack-2x text-danger"></i>
                                <i class="fas fa-flag fa-stack-1x fa-inverse text-white"></i>
                            </span> Administrador de la piscina con accesos de instructor.
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#asociarAdminModal"><i class="fas fa-sign-in-alt"></i> Asociar Administrador</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('footerDashboard') %>
         </div>
     </div>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
     <script src="../../js/admin/profesores.js"></script>
 </body>
 </html>