<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <button class="btn btn-primary" id="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>      
    <div class=" p-0" id="navbarSupportedContent">
        <ul class=" ml-auto mt-2 mt-lg-0">
            <li class="d-inline dropdown">
                <div class="dropdown d-inline">
                    <a class=" mr-3 border-right" href="#" role="button" id="notificaciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell text-primary" style="font-size: 20px;"></i>
                    </a>
                    <div class="dropdown-menu " aria-labelledby="notificaciones">
                        <p class="pl-3" >Notificaciones</p>
                        <hr>
                        <a class="dropdown-item" href="#">Another action</a>
                        <hr>
                        <a class="dropdown-item text-center" href="#">...</a>
                    </div>
                </div>
            </li>
            <li class="d-inline dropdown">
                <div class="d-inline nombre-usuario-pos-0" id="nombreUsuario" style="height: 50px;">
                    <h6 class="d-inline align-middle"><%= usuario.nombre.split(' ')[0] %>&nbsp;<%= usuario.apellido.split(' ')[0] %></h6>
                </div>
                <a class="nav-link d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="./../public/uploads/<%= usuario.foto%>" class="rounded-circle" width="30px">
                </a>
                <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="w-100 justify-content-middle">
                            <div class="col-md-12">
                                <img src="./../public/uploads/<%= usuario.foto%>" class="rounded-circle d-block mx-auto" width="55px">
                                <h6 class="text-center text-muted mt-2">
                                    <%= usuario.usuario%>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-circle" style="color:limegreen;"></i>&nbsp; Status</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i>&nbsp; Editar Datos</a>
                    <a class="dropdown-item" href="/admin/logout"><i class="fas fa-power-off" style="color:brown"></i>&nbsp; LogOut</a>
                </div>
            </li>
        </ul>
    </div>
</nav>