<!-- 
    * Universidad Nacional de Costa Rica
    * 2020-2021

    * Proyecto de Ingenieria en Sistemas I-III

    * Estudiantes:
    * Edso Cruz Viquez
    * Ian Mora Rodriguez
    * Marlon Freer Acevedo
    * Moises Fernandez Alfaro
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.svg">
    <title>Asistencia</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../../css/animate.css">
    <link rel="stylesheet" href="../../css/datatables.min.css">
    <script src="../js/jq-bs-bundle.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body style="overflow-x:hidden ;">
    <div class="modal px-0" id="asistenciaModal" data-backdrop="static" data-keyboard="false" 
    tabindex="-1" aria-labelledby="asistenciaModalLabel" aria-hidden="true" style="padding: none !important;">
        <div class=" modal-dialog-centered modal-fs">
            <div class="modal-content h-100">
                <div class="modal-body">
                    <h4 id="grupoIdModal">Grupo</h4>
                    <span class="sr-only" id="idGrupoTemp"></span>
                    <div class="row bg-light mx-auto rounded-lg justify-content-between py-1">
                        <div class="col-lg-6">
                            <div class="input-group flex-nowrap" data-toggle="tooltip" data-placement="top" title="Bucar Asistencias">
                                <div class="input-group-prepend">
                                    <button class="btn bg-white" type="button" id="button_search"><i class="fas fa-search"></i></button>
                                </div>
                                <input type="search" class="form-control border-0 shadow-none bg-white" onkeyup="searchonfind(this)" placeholder="Buscar..." aria-label="Username" id="barraBuscar">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6 mt-lg-0 mt-2" data-toggle="tooltip" data-placement="top" title="Filtrar por dia y hora">
                                    <div class="row mx-auto no-gutters">
                                        <div class="col-2">
                                            <div class="input-group-text h-100" role="button" id="btnGroupAddon" onclick="borrarFecha()"><i class="fa fa-trash"></i></div>
                                        </div>
                                        <div class="col-10">
                                            <input id="datepicker" onchange="buscarFechaAsistencia()"/>
                                        </div>
                                    </div> 
                                    
                                    <script>
                                        $('#datepicker').datetimepicker({ 
                                            footer: true,
                                            uiLibrary: 'bootstrap4', 
                                            iconsLibrary: 'fontawesome',
                                            format: 'dd/mm/yyyy HH:MM'
                                        });
                                    </script>                       
                                </div>
                                <div class="col-lg-6 mt-lg-0 mt-2" data-toggle="tooltip" data-placement="top" title="Mostrar Registros">
                                    <div id="showlenghtentries" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="w-100" style="height: 82% !important; overflow-y: auto;">
                        <table class="table table-hover table-responsive-md table-borderless" id="tablaModalAsistencia">
                            <thead>
                                <tr>
                                    <th class="bg-dark text-white sticky-top " style="width: 40px;" scope="col">&nbsp;</th>
                                    <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-address-card"></i> Cedula</th>
                                    <th class="bg-dark text-white sticky-top" data-class-name="priority" scope="col"><i class="fas fa-id-card"></i> Nombre</th>
                                    <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-clock"></i> Fecha de Asistencia</th>
                                    <th class="bg-dark text-white sticky-top" scope="col"><i class="fas fa-toggle-on"></i> Estado</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTableModal"></tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center align-self-end border-info w-100">
                        <div class="row w-100 ml-0">
                            <div class="col-md-6 d-flex justify-content-start text-muted pl-0">
                                <small id="informacionTable" class="d-flex align-items-center"></small>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end" id="botonesCambiarTable"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <span class="sr-only" id="id_usuario"><%= usuario.id_usuario%></span>
    <%- include('perfilHeader') %>
    <span class="sr-only" id="id_cedula"><%= usuario.cedula%></span>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0" id="breadcrumbPages">
            <li class="breadcrumb-item active"><a href="#">Grupos</a></li>
            <li class="breadcrumb-item" id="breadcrum-item-listaestudiantes" style="display: none;"><a href="#">Lista de Estudiantes</a></li>
        </ol>
    </nav>
    <div class="container mt-3 ">
        <div class="alert alert-warning alert-dismissible fade" role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong class="text-center d-block">No tiene estudiantes matriculados en ningun grupo.</strong>
        </div>
        <div class="justify-content-between mx-3 p-2 bg-light rounded d-flex">
            <h5 class="font-weight-bold m-0"><%= usuario.nombre.toUpperCase()%> <%= usuario.apellido.toUpperCase() %></h5>
            <button type="button" class="btn btn-primary btn-sm" id="buttonTriggerModalAsistencia" 
            style="display: none;" data-grupo="null" data-toggle="modal" data-target="#asistenciaModal">
                Ver Asistencia
            </button>
        </div>
        <nav class="d-flex justify-content-between" aria-label="breadcrumb" style="height: 40px;">
            <button type="button" class="btn" data-page="0" id="pag_ant" style="display: none;"><i class="fas fa-chevron-left"></i></button>
        </nav>
        <div id="contentLista" style="min-height: 800px;">
            <div class="row" id="clasesLista">
                
            </div>
            <div id="EstudiantesPorClaseLista" style="display: none;">
                <ul class="list-group" id="listaUlEstudiantes">

                </ul>
            </div>
            <div id="estudianteInformacionLista" style="display: none;">
                
            </div>
        </div>
    </div>
    <%- include('perfilFooter') %>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="../../../js/profesor/asistencia.js"></script>
</body>
</html>