 <!DOCTYPE html>
 <html lang="es" class="h-100">
 <head>
    <title>Dashboard | <%= grupo %> - Asistencia</title>
    <%- include('../headers')%>
    <script>
        var g_grupo = "<%= grupo %>";
    </script>
 </head>
 <body class="page bg-light d-flex flex-column h-100">
    <div class="d-flex" id="wrapper">
        <%- include('../menuDashboard') %>
        <div id="page-content-wrapper">
            <%- include('../headerDashboard') %>
            <div class="container-fluid my-4">
                <div class="bg-white p-4 rounded-3"> 
                    <div class="row">
                        <div class="col-md-6 ">
                            <p class=""><a class="text-secondary" href="/admin/reportes/asistencia"><i class="fas fa-angle-double-left"></i> Volver a la lista de grupos</a></p>
                            <h1 class="font-weight-bolder display-5">Asistencia del grupo <%= grupo %></h1>
                            <p class="text-muted mb-0" id="text_informacion"></p>
                            <small>Información Actualizada hace: <span class="text-success" id="infoTiming"></span></small>
                        </div>
                        <div class="col text-center border-right">
                            <div id="estudiantes_total_stats_cont">
                                <h1 class="display-3 m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t1" id="estudiantes_total_stats">0</h1>
                                <small class="text-muted">Estudiantes <i class="fas fa-align-center text-secondary" style="font-size:10px;"></i></small>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div id="estudiantes_ausentes_stats_cont">
                                <h1 class="display-3 m-0 font-weight-bolder text-primary animate__animated animate__flipInX animate_delay_t2" id="estudiantes_ausentes_stats">0</h1>
                                <small class="text-muted">Ausencias <i class="fas fa-align-center text-secondary" style="font-size:10px;"></i></small>
                            </div>
                        </div>
                    </div>
                    <script>
                        tippy('#estudiantes_total_stats_cont', {
                            content: 'Estudiantes Matriculados en el grupo <%= grupo %>',
                            placement: 'bottom',
                            animation: 'shift-away-extreme',
                        });
                        tippy('#estudiantes_ausentes_stats_cont', {
                            content: 'Cantidad de ausencias registradas en el grupo <%= grupo %>',
                            placement: 'bottom',
                            animation: 'shift-away-extreme',
                        });
                    </script>
                </div>

                <div class="bg-white rounded-3 p-4 mt-4 animate__animated animate__zoomIn">
                    <div class="row mx-0 justify-content-between ">
                        <div class="col pl-0 ">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button_search"><i class="fas fa-search"></i></button>
                                </div>
                                <input type="search" class="form-control border-0 shadow-none bg-light" 
                                onkeyup="searchonfind()" placeholder="Buscar..." aria-label="Username" 
                                id="barraBuscar">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-around px-0">
                            <div class="w-100">
                                <input type="month" class="form-control" id="filtrarDate">
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row mx-0 justify-content-between px-0">
                        <div class="col-sm-6 col-md-4 d-inline d-flex justify-content-start align-items-baseline pl-0">
                            <div class="w-50 mr-2" id="length">
                                <select class="custom-select">
                                    <option selected>All columns</option>
                                    <option value="1">5</option>
                                    <option value="2">10</option>
                                    <option value="3">100</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-sm-6 d-flex justify-content-sm-end justify-content-around align-items-baseline mt-sm-0 px-0">
                            
                            <button type="button" class="btn btn-light text-success" onclick="excelDownload()">
                                <i class="fas fa-file-excel pr-2"></i>Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="bg-white mt-4 rounded-3 animate__animated animate__slideInUp" style="min-height: 650px;">
                    <div class="row w-100 mx-0" style="min-height:750px;overflow-y: auto;">
                        <table class="table custom-table table-striped table-responsive-sm table-borderless text-center table-hover"
                         id="table" data-order="[[ 1, &quot;asc&quot; ]]">
                            <thead class="table-light-header">
                                <tr>
                                    <th style="width: 40px;" scope="col">&nbsp;</th> <!--Aqui va la foto-->
                                    <th scope="col">Cedula</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Editar</th> <!--Aqui va el edit-->
                                </tr>
                                </thead>
                                <tbody id="lista_asistencia_grupo">
    
                                </tbody>
                        </table>
                        <div class="d-flex align-items-center align-self-end justify-content-between border-top py-2 w-100">
                            <div><small id="info" class="d-flex align-items-end ml-4"></small></div>
                            <div id="pagination" class="mr-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <style>
                                ul.pagination{
                                    margin-bottom: 0px !important;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../footerDashboard') %>
         </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.js"></script>
    <script src="/js/admin/reporte.asistenciaVer.js"></script>
 </body>
 </html>